---
import Grid from '~/components/blog/Grid.astro';

import { findPostsByIds } from '~/utils/posts';

const ids = [
	'get-started-website-with-astro-tailwind-css',
	'how-to-customize-astrowind-to-your-brand',
	'useful-resources-to-create-websites',
	'astrowind-template-in-depth',
];
const posts = await findPostsByIds(ids);
---

<section class="px-4 py-16 mx-auto max-w-6xl lg:py-20 dark:bg-slate-900 dark:text-slate-300">
	<Grid posts={posts} />
</section>
