---
import Grid from '~/components/blog/Grid.astro';

import { findPostsByIds } from '~/utils/posts';

const ids = [
	'foto',
];
const posts = await findPostsByIds(ids);
---

<section class="px-4 py-16 mx-auto max-w-6xl lg:py-20 dark:bg-slate-900 dark:text-slate-300">
	<Grid posts={posts} />
</section>
